body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.centered {
    text-align: center;
    font-size: 40px;
}


.bio {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.blue-box {
    background-color: blue;
    padding: 20px;
    margin: 10px;
    flex: 1;
}

.red-box {
    background-color: red;
    padding: 20px;
    margin: 10px;
    flex: 1;
}

.name {
    font-size: 32px;
    margin: 0;
    color: white;

}